:root {
    --color-fondo: #004766;
    --color-texto: #ffffff;
    --color-acento: #005C84;
    --padding-lista: 10px;
    --border-radius: 5px;
}
* {
    list-style: none; /* Quita los bullets */
    padding: 0;       /* Quita el padding por defecto */
    margin: 0;        /* Quita el margen por defecto */
}
body {
    background-color: var(--color-fondo); /* color de fondo de toda la página */
}

.nav {
    display: flex;           /* Hace que los <li> se pongan en fila */
    justify-content: space-around; /* Distribuye los elementos con espacio igual */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-acento);
    
}
ul{
    padding: var(--padding-lista);
    border-radius: var(--border-radius);
}
.lista{
    border: 2px solid #000;
    display: flex;
    justify-content: center; /* centra horizontalmente los elementos */
    align-items: center;     /* centra verticalmente los elementos dentro del li */
    gap: 20px;               /* espacio entre elementos */
    background-color: var(--color-acento);
    padding: var(--padding-lista);
}
.referencia-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
.sub-bar{
    display: flex;           /* Hace que los <li> se pongan en fila */
    justify-content: space-around; /* Distribuye los elementos con espacio igual */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-acento);
}
.lista a, .lista h2, .lista h3, .lista p, .lista span {
    flex: 1;       /* todas las columnas toman el mismo ancho */
    text-align: center; /* centra el texto */
}
